.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:fixed;
  background-color: rgb(255, 255, 255);
  top:0;
  width:100%;
  border-bottom: 1px solid rgb(230, 230, 230);
  left: 0;
  z-index:1; 
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px; 
}

.youtube-logo {
  height: 20px;  
}

.middle-section {
  flex:1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
  display: flex;
}

.search-bar {
  height: 36px;
  flex:1;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  box-shadow: inset  1px 1px 2px rgba(0, 0, 0, 0.05);
  width:0; 
}

.search-bar::placeholder {
  font-size: 14px;
  padding-left: 10px; 
}

.search-button {
  height: 39.5px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}

.search-icon {
  height: 25px;
  margin-top: 4px; 
}

.voice-search-button {
  height: 40px;
  width: 40px;
  background-color: rgb(240, 240, 240);
  border-style: none;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.youtube-apps-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.create-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-container .tooltip {
  position: absolute;
  bottom: -40px;
  background-color: gray;
  color:white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip, 
.create-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-container:hover .tooltip {
  opacity: 1;
}

.voice-search-icon {
  height: 24px;
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;  
}

.create-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications-icon {
  height: 24px;
}

.notification-dot {
  position:absolute;
  background-color: rgb(204, 0, 0);
  color:white;
  right: -5px;
  top: -2px;;
  border-radius: 50%;
  font-size: 11px;
  font-family: roboto, arial;
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.profile-picture-icon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 24px;
}