.side-bar {
  position:fixed;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 10px;
  margin-top: -24px ;
  width: 90px;
  left: 0;
  padding-top: 5px;
}
  
.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}