 
    .videos-section {
      display: grid;
      
      column-gap: 16px;
      row-gap: 40px;  
    }

    @media (max-width:750px) {
      .videos-section {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (min-width:751px) and (max-width: 999px) {
      .videos-section {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @media (min-width:1000px) {
      .videos-section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    .thumbnail {
      width:100%;
    }

    .thumbnail-raw {
      position: relative;
    }

    .container {
      display: inline-block;
      vertical-align: top;
    }

    .profile-picture {
      width: 36px;
      border-radius: 50%;
      margin-right: 12px;
      margin-top: 8px;
      
    }

    .video-info {
      display: grid;
      grid-template-columns: 50px 1fr;
      position: relative;
    }

    .profile-picture-column {
      vertical-align: top;
      position:relative;
    }

    .video-title {
      font-size: 14px;
      font-weight: 500;
      margin-top: 8px;
      line-height: 20px;
      margin-bottom: 12px;  
    }

    .channel-name,
    .views-and-date {
      font-size: 12px;
      color: rgb(96, 96, 96);
      margin-bottom: 4px;
    }

    .duration {
      position: absolute;
      color:white;
      background-color: black;
      bottom:8px;
      right:5px;
      font-family: roboto, arial;
      font-size: 12px;
      font-weight: 500;
      padding: 4px;
      border-radius: 2px;  
    }

    .video-title-link {
      text-decoration: none;
      color: black;
    }

    .profile-tooltip {
      position:absolute;
      background-color: rgb(255, 255, 255);
      width: 200px;
      height:70px;
      margin-top: 10px;
      box-shadow: 0px 0px 7px rgba(0, 0, 0,0.5);
      border-radius: 4px;
      display: flex;
      align-items: center;
      z-index: 5;
      pointer-events: none;
    }

    .profile-tooltip-info {
      display:inline-block;
      
    }

    .tooltip-profile-picture-column {
      width: 65px;
      height: 70px;
      display:inline-block;
    }

    .profile-tooltip-name{
      font-weight: bold;
      font-size: 14px;
      vertical-align: top;
      padding-left: 3px;
      
    }

    .tooltip-image {
      width: 48px;
      border-radius: 24px;
      margin-top: 12px;
      margin-left: 12px;
    }

    .profile-tooltip-subs {
      font-size: 12px;
      color: rgb(96, 96, 96);
      font-weight: 450;
      padding-left: 3px;

    }

    .profile-picture-column .profile-tooltip {
      opacity:0;
    }

    .profile-picture-column:hover .profile-tooltip {
      opacity:1;
    }