    p{
      font-family: Arial, Helvetica, sans-serif;
    }

    .video-title {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: bold;
      width: 300px;
      line-height: 24px;
      margin-bottom: 4px;
    }

    .content {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #606060;
      width: 280px;
      line-height: 20px;
      margin-top: 1px;
      line-height: 22px;
    }
    .apple-text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      background-color: rgb(227, 65, 64);
      color: white;
      text-align: center;
      padding-top: 18px;
      padding-bottom: 18px;
    }

    .shopnow:hover {
      text-decoration: underline;
      cursor: pointer;
    }
